{% load static %}
<!--Ask a Question-->
<html>
<head>
  <title>24/7 Islamic Support</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
<link rel='stylesheet' href='{% static "css/create.css" %}'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{% static 'image/logo1.png' %}">





</head>

<body>
	<div class="navbar">
		<div class="logo">
			<img src='{% static "image/Logo.png" %}' style="width: 230px; margin-top: 10px;" />
		</div>
		<div class="search">
		</div>
		<div class="navlinks">
          			<h6><a href="{% url "Home" %}">Home</a>  </h6><h6><a href="{% url "home" %}">Forum</a>  </h6> <h6 style="width: 30%;"><a href="{% url "create" %}">Ask a Question</a></h6> <h6><a href="{% url "quran" %}">Quran</a></h6> <h6><a href="{% url "hadith" %}">Hadith</a></h6> <h6><a href="{% url "sunnah" %}">Sunnah</a></h6>
		</div>
		<div class="login" style="font-size: 15px;">
			{% if request.user.is_authenticated %}
			<p><a href="{% url "logout" %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></p>
			{% else %}
			<p><a href="{% url "login" %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in / Register</a></p>
			{%endif %}
		</div>
	</div>



		<div class="links">
		</div>
		<div class="content">
			<table style="width: 100%;border-spacing: 0px;min-height: 100%;">
				<tr>
			<td style="width:100%; float: left;">
				<div class="heading">
					<div class="tab">
						<p>Ask a Question</p>	
					</div>
				</div>

			<div class="welcome">
				<div class="tab">
					<p>&nbsp</p>
				</div>
			</div>


			{% if messages %}
			<div class="messages">
			    {% for message in messages %}
			    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
			    {% endfor %}
			</div>
			{% endif %}

			<div id="tab1" class="tabcontent">
				<div class="col-xs-4 login_form">
			        <form id="create_form" method="post" action="{{ action }}">
			        {% csrf_token %}
			                Question: <br/>
			                <input type="text" name="question" value="{{ value }}"" class="form-control" size="50" id="username" required/>
			            <br /><br/><br/>
			                Description: <br/>
			                <textarea name="description" id="username" style="height:200px;">{{ description }}</textarea>
			                <br /><br/>
			        <input type="submit" name="submit" value="Submit Question" id="create"/>
			        </form>
			    </div>
			</div>


		</td>
			<td class="stats" style="padding-top: 30px;vertical-align: top;">
			</td>
		</tr>
	</table>
		</div>


</body>
</html>